<li class="ex-fav-item js-fav-item">
  <div class="ex-item-wrapper">
    <div class="ex-item-header">
      <div class="ex-item-header-right-row-fav">
        <div class="ex-item-workout">WORKOUT</div>
        <button class="ex-item-trash-icon">
          <svg class="icon" width="16" height="16">
            <use href="./img/icons.svg#icon-trash"></use>
          </svg>
        </button>
      </div>
      <div class="ex-item-start">
        <button class="ex-item-start-text">Start</button>
        <div class="ex-item-start-icon">
          <svg width="13" height="13" viewBox="0 0 15 15">
            <use href="../../img/icons.svg#icon-arrow-start"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="ex-item-body">
      <div class="ex-item-title">
        <div class="ex-item-title-icon">
          <svg class="icon" width="24" height="24">
            <use href="./img/icons.svg#icon-run-black"></use>
          </svg>
        </div>
        <div class="ex-item-title-ex js-fav-title"></div>
      </div>
      <div class="ex-item-footer">
        <div class="ex-item-calories">
          <span class="ex-item-gray-text">Burned calories: </span
          ><span class="js-fav-calories"></span>
        </div>
        <div class="ex-item-bodypart">
          <span class="ex-item-gray-text">Body part: </span
          ><span class="js-fav-bodyPart"></span>
        </div>
        <div class="ex-item-target">
          <span class="ex-item-gray-text">Target: </span
          ><span class="js-fav-target"></span>
        </div>
      </div>
    </div>
  </div>
</li>
