<li class="ex-item">
  <div class="ex-item-wrapper">
    <div class="ex-item-header">
      <div class="ex-item-header-right-row">
        <div class="ex-item-workout">WORKOUT</div>
        <div class="ex-item-rating">
          <div class="ex-item-rating-text js-rating">4.0</div>
          <div class="ex-item-rating-icon">
            <svg class="icon" width="14" height="14">
              <use href="icons.svg#icon-star-full"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="ex-item-start">
        <div class="ex-item-start-text">Start</div>
        <div class="ex-item-start-icon">
          <svg width="13" height="13" viewBox="0 0 15 15">
            <use href="/assets/icons.svg#icon-arrow-start"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="ex-item-body">
      <div class="ex-item-title">
        <div class="ex-item-title-icon">
          <svg class="icon" width="14" height="16">
            <use href="/assets/img/icons.svg#icon-run"></use>
          </svg>
        </div>
        <div class="ex-item-title-ex js-title"></div>
      </div>
      <div class="ex-item-footer">
        <div class="ex-item-calories">
          <span class="ex-item-gray-text">Burned calories: </span>
          <span class="js-burned-calories"></span> / 3 min
        </div>
        <div class="ex-item-bodypart">
          <span class="ex-item-gray-text js-filter"></span>
          <span class="js-filter-value"></span>
        </div>
        <div class="ex-item-target">
          <span class="ex-item-gray-text">Target: </span>
          <span class="js-target"></span>
        </div>
      </div>
    </div>
  </div>
</li>
