<li class="ex-fav-item">
  <div class="ex-item-wrapper">
    <div class="ex-item-header">
      <div class="ex-item-header-right-row-fav">
        <div class="ex-item-workout">WORKOUT</div>
        <div class="ex-item-trash-icon">
          <svg class="icon" width="16" height="16">
            <use href="../../img/icons.svg#icon-trash"></use>
          </svg>
        </div>
      </div>
      <div class="ex-item-start">
        <div class="ex-item-start-text">Start</div>
        <div class="ex-item-start-icon">
          <svg width="13" height="13" viewBox="0 0 15 15">
            <use href="../../img/icons.svg#icon-arrow-start"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="ex-item-body">
      <div class="ex-item-title">
        <div class="ex-item-title-icon">
          <svg class="icon" width="14" height="16">
            <use href="../../img/icons.svg#icon-run"></use>
          </svg>
        </div>
        <div class="ex-item-title-ex">Air bike</div>
      </div>
      <div class="ex-item-footer">
        <div class="ex-item-calories">
          <span class="ex-item-gray-text">Burned calories: </span>312 / 3 min
        </div>
        <div class="ex-item-bodypart">
          <span class="ex-item-gray-text">Body part: </span>Waist
        </div>
        <div class="ex-item-target">
          <span class="ex-item-gray-text">Target: </span>Abs
        </div>
      </div>
    </div>
  </div>
</li>
