<footer class="footer">
  <div class="container">
    <h2 class="footer-title">
      Transforming your <span class="footer-title-span">body</span> shape with
      us
    </h2>
    <div class="footer-form-wrapper">
      <p class="footer-form-title">Subscribe and learn about new exercises!</p>
      <form class="footer-form">
        <input
          class="input input-email footer-input"
          type="email"
          placeholder="Email"
        />
        <button class="button button-white footer-button" type="submit">
          Send
        </button>
      </form>
    </div>
  </div>
</footer>
