<!-- Header -->
<header class="header">
  <div class="container header-wrapper">
    <a
      class="logo js-logo"
      href="../index.html"
      aria-label="your energy logo"
      target="_blank"
    >
      <svg class="main-logo">
        <use href="../img/main-logo.svg#main-logo"></use>
      </svg>
    </a>

    <!-- UI component Header Menu 'toggle-bar' -->
    <load src="partials/ui/header-toggle-bar.html" />

    <div class="socials">
      <load src="./ui/socials-list.html" />
    </div>
  </div>
</header>
