<!-- Header -->
<header class="header">
  <div class="container header-wrapper">
    <a
      class="logo on-hover js-logo"
      href="./index.html"
      aria-label="your energy logo"
      target="_blank"
    >
      <svg class="main-logo">
        <use href="./img/main-logo.svg#main-logo"></use>
      </svg>
    </a>

    <load src="partials/ui/header-toggle-bar.html" />

    <div class="socials">
      <load src="./ui/socials-list.html" />
    </div>

    <button
      class="menu-btn on-hover js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
      aria-label="Open menu button"
    >
      <svg class="menu-icon" width="32" height="32">
        <use href="./img/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>

<!-- Menu mobile backdrop -->
<div class="backdrop is-hidden js-menu-backdrop">
  <div class="menu-container js-menu-container" id="mobile-menu">
    <button class="menu-toggle on-hover js-close-menu">
      <svg class="modal-btn-icon" width="32" height="32">
        <use href="./img/icons.svg#menu-close"></use>
      </svg>
    </button>

    <div class="menu-wrapper menu-main">
      <ul class="menu-ul list">
        <li class="menu-li on-hover">
          <a
            class="site-nav-a js-menu-link"
            href="./index.html"
            aria-label="Go to Home section"
            >Home</a
          >
        </li>
        <li class="menu-li on-hover">
          <a
            class="site-nav-a js-menu-link"
            href="./favorites.html"
            aria-label="Go to Favorites section"
            >Favorites</a
          >
        </li>
      </ul>

      <div class="menu-wrapper">
        <load src="./ui/socials-list.html" />
      </div>
    </div>
  </div>
</div>
