<section class="section">
  <div class="container">
    <div class="hero-container">
      <div class="hero-left-side">
        <div class="hero-text-block">
          <div class="icon-sun-svg"></div>
          <h1 class="hero-text-block-title">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Get<span class="hero-text-block-part">
              Body </span
            >in shape, Stay healthy
          </h1>
        </div>
        <h3 class="hero-text-block-phrase">
          Transform your physique and embrace a healthier lifestyle with our
          comprehensive fitness and nutrition support.
        </h3>
      </div>
      <div class="hero-right-side">
        <img
          src="./img/hero-img/preview-exercise.jpg"
          alt="leg exercise"
          width="168"
          height="100"
        />
      </div>
      <div class="hero-img"></div>
      <div class="hashtag-block">
        <ul class="hashtag-block-list">
          <li class="hashtag-block-item"><p>#Sport</p></li>
          <li class="hashtag-block-item"><p>#Healthy</p></li>
          <li class="hashtag-block-item"><p>#Woekout</p></li>
          <li class="hashtag-block-item"><p>#Diet</p></li>
        </ul>
      </div>
    </div>
  </div>
</section>
