<section class="main-section-head">
  <div class="container">
    <div class="head-navigation">
      <h2 class="js-bradcrumbs">Excercises</h2>
      <p class="bradcrumbs-inner js-bradcrumbs-inner" hidden>/</p>
      <p class="js-bradcrumbs-filter"></p>
    </div>
    <div class="gallary-nav">
      <load
        src="partials/ui/search-input.html"
        inputclass="js-search-input"
        formclass="js-search-form"
      />
      <ul class="js-filter-block filter-block">
        <li>
          <button class="filter-item active js-filter" data-filter="Muscles">
            Muscles
          </button>
        </li>
        <li>
          <button class="filter-item js-filter" data-filter="Body parts">
            Body parts
          </button>
        </li>
        <li>
          <button class="filter-item js-filter" data-filter="Equipment">
            Equipment
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
