<section class="main-section-head">
  <div class="container">
    <div class="head-navigation">
      <h2 class="js-header">Excercises /</h2>
      <p class="js-second-header">Waist</p>
    </div>
    <div class="gallary-nav">
      <load src="partials/ui/search-input.html" />
      <ul class="js-filter-block filter-block">
        <li>
          <button class="filter-item active js-filter" data-filter="Muscles">
            Muscles
          </button>
        </li>
        <li>
          <button class="filter-item js-filter" data-filter="Body parts">
            Body parts
          </button>
        </li>
        <li>
          <button class="filter-item js-filter" data-filter="Equipment">
            Equipment
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
