<!-- quote-of-the-day -->

<div class="quote-of-the-day">
  <div class="quote-icon-wrap">
    <svg class="quote-run" width="20" height="20">
      <use href="../img/icons.svg#icon-run"></use>
    </svg>
  </div>

  <div class="quote-container">
    <div class="quote-title-container">
      <h1 class="quote-title">Quote of the day</h1>
      <svg class="quote-commas" width="20" height="20">
        <use href="../img/icons.svg#icon-quote"></use>
      </svg>
    </div>

    <div>
      <p class="js-quote-content quote-content"></p>
      <p class="js-quote-author quote-author"></p>
    </div>
  </div>
</div>
