<div class="sidebar-container">
  <load src="partials/quote-of-the-day.html" />
  <div class="photo-base-card"></div>

  <div class="daily-norm-card">
    <div class="daily-norm-card-wrapper">
      <div class="daily-norm-card-icon">
        <svg class="daily-norm-card-icon-svg" width="34" height="32">
          <use href="./img/icons.svg#icon-dailynorm"></use>
        </svg>
      </div>
      <div class="daily-norm-card-text-wrapper">
        <div class="daily-norm-card-title-wrapper">
          <div class="daily-norm-card-title">110 min</div>
          <div class="daily-norm-card-subtitle">Daily norm of sports</div>
        </div>
        <div class="daily-norm-card-text">
          The World Health Organization recommends at least 150 minutes of
          moderate-intensity aerobic physical activity throughout the week for
          adults aged 18-64. However, what happens if we adjust that number to
          110 minutes every day? While it might seem like a high number to hit,
          dedicating 110 minutes daily to sporting activities may offer
          unparalleled benefits to physical health, mental well-being, and
          overall quality of life.
        </div>
      </div>
    </div>
  </div>
</div>
