<div class="spinner-backdrop hidden js-spinner">
  <div class="spinner-container">
    <div class="spinner-dot1 spinner-child"></div>
    <div class="spinner-dot2 spinner-child"></div>
    <div class="spinner-dot3 spinner-child"></div>
    <div class="spinner-dot4 spinner-child"></div>
    <div class="spinner-dot5 spinner-child"></div>
    <div class="spinner-dot6 spinner-child"></div>
    <div class="spinner-dot7 spinner-child"></div>
    <div class="spinner-dot8 spinner-child"></div>
    <div class="spinner-dot9 spinner-child"></div>
    <div class="spinner-dot10 spinner-child"></div>
    <div class="spinner-dot11 spinner-child"></div>
    <div class="spinner-dot12 spinner-child"></div>
  </div>
</div>
