/* Header */
@media only screen and (min-width: 768px) {
  .header {
    padding-top: 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    padding-bottom: 110px;
  }
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .header-wrapper {
    padding: 0 30px;
  }
}

@media only screen and (min-width: 1440px) {
  .header-wrapper {
    padding: 32px 32px 0 32px;
  }
}

.logo {
  width: 132px;
  height: 24px;
  flex-shrink: 0;
}

/* UI component Header Menu 'toggle-bar'
comes from /src/css/ui-styles.css */

.socials {
  font-style: normal;
  display: none;
}

@media only screen and (min-width: 768px) {
  .socials {
    display: block;
  }
}

/* UI component Header .social-icons-ul
comes from /src/css/ui-styles.css */
