/* Header */
.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

@media only screen and (min-width: 768px) {
    .header-wrapper {
        padding-top: 24px;
    }
}

@media only screen and (min-width: 1440px) {
    .header-wrapper {
        padding-top: 32px;
    }
}

.main-logo {
    width: 132px;
    height: 24px;
    flex-shrink: 0;
}

@media only screen and (max-width: 767px) {
    .socials {
        display: none;
    }
}

.socials {
    font-style: normal;
}

.social-icons-ul {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-left: auto;
}

.social-icon-li {
    border-radius: 10px;
    padding: 8px;
    border: 1px solid var(--frame-color);
    /* transition: border var(--tran-fast); */
}

.social-icon-link {
    cursor: pointer;
}

.social-icon-link svg,
.social-icon-link svg {
    fill: var(--primary-color);
    opacity: 0.8;
    transition: fill var(--tran-fast);
}

.social-icon-li:hover,
.social-icon-li:focus {
    border: 1px solid var(--primary-color);
}

@media only screen and (min-width: 768px) {
    .menu-btn {
        display: none;
    }
}

/* mobile burger menu */
.menu-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: stroke var(--tran-fast);
}

.logo:hover,
.logo:focus,
.menu-li:hover,
.menu-li:focus,
.menu-btn:hover,
.menu-btn:focus,
.menu-toggle:hover,
.menu-toggle:focus {
    transform: scale(1.1);
    transition: stroke var(--tran-fast);
}

/* mobile backdrop */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: var(--primary-color);
    transition: opacity var(--tran-fast), visibility var(--tran-fast);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    transition: background-color var(--tran-fast);
}

@media only screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 210px;
    height: 812px;
    padding-top: 280px;
    background-color: var(--primary-color);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--white-color);
}

.menu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu-main {
    height: 100%;
}

.menu-li {
    padding-bottom: 16px;
}

.menu-li>a {
    color: var(--white-color);
    font-family: var(--primary-font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3em;
    transition: color var(--tran-fast);
}

.social-icon-li {
    border-radius: 10px;
    border: 1px solid var(--rating-color);
    transition: border var(--tran-fast);
}

.social-icon-li:hover,
.social-icon-li:focus {
    border: 1px solid var(--white-color);
}

/* UI component Header Menu 'toggle-bar'
comes from /src/css/ui-styles.css */