/* Header */
.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

@media only screen and (min-width: 768px) {
    .header-wrapper {
        padding-top: 24px;
    }
}

@media only screen and (min-width: 1440px) {
    .header-wrapper {
        padding-top: 32px;
    }
}

.main-logo {
    width: 132px;
    height: 24px;
    flex-shrink: 0;
}

@media only screen and (min-width: 768px) {
    .menu-btn {
        display: none;
    }
}

/* mobile burger menu */
.menu-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: stroke var(--tran-fast);
}

.on-hover:hover,
.on-hover:focus {
    transform: scale(1.1);
    transition: stroke var(--tran-fast);
}

/* mobile backdrop */
.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: var(--title-secondary-color);
    transition: opacity var(--tran-fast);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.no-scroll {
    visibility: hidden;
    height: 100%;
}

.menu-toggle {
    background: transparent;
}

@media only screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 210px;
    height: 100%;
    padding-top: 280px;
    background-color: var(--primary-color);
    z-index: 100;
    transform: translateX(100%);
    transition: transform var(--tran-fast);
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-toggle {
    position: absolute;
    border: none;
    top: 20px;
    right: 20px;
}

.menu-wrapper {
    margin-bottom: 20px;
}

.menu-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu-ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.menu-li>a {
    color: var(--white-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3em;
    transition: color var(--tran-fast);
}

/* UI component Header Menu 'toggle-bar'
comes from /src/css/ui-styles.css */