/* Hero-styles */

/* Media mobile */
@media screen and (min-width: 0px) and (max-width: 1440px) {
  .hero-right-side {
    display: none;
  }
  .container {
    padding: 0 20px;
  }
  .hero-container {
    margin-top: 80px;
    margin-bottom: 40px;
    max-width: 335px;
  }

  .hero-text-block {
    display: flex;
    position: relative;
  }

  .hero-text-block-title {
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: -2%;
    text-align: left;
    margin-bottom: 20px;
  }
  .icon-sun-svg {
    background-image: url('../img/icons/sun.svg');
    position: absolute;
    top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }

  .hero-text-block-part {
    font-style: italic;
  }
  .hero-text-block-phrase {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -2%;
    text-align: left;
    max-width: 335px;
    margin-bottom: 20px;
  }

  .hero-img {
    /* display: block; */
    background-color: #bac0cc;
    background-image: url('../img/hero-img/hero-main-mob.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    height: 460px;
    margin-bottom: 20px;
  }

  .hashtag-block-list {
    display: flex;
    justify-content: space-between;
  }
  .hashtag-block-item {
    text-align: center;
    padding: 4px 12px;
    border: 1px solid #242424;
    border-radius: 30px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
  }
}

/* Media tablet */
@media screen and (min-width: 376px) and (max-width: 768px) {
  .container {
    padding: 0 20px;
    max-width: 704px;
  }
  .hero-container {
    margin-top: 100px;
    margin-bottom: 64px;
    max-width: 704px;
  }

  .hero-text-block-title {
    max-width: 639px;
    font-size: 74px;
    line-height: 74px;
    margin-bottom: 20px;
  }
  .icon-sun-svg {
    top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    width: 60px;
    height: 60px;
  }
  .hero-text-block-phrase {
    font-size: 18px;
    line-height: 24px;
    max-width: 528px;
    margin-bottom: 32px;
  }
  .hero-img {
    background-color: #bac0cc;
    background-image: url('../img/hero-img/hero-main-tablet.jpg');
    border-radius: 60px;
    height: 550px;
    margin-bottom: 16px;
  }
  .hashtag-block {
    margin-left: auto;
    max-width: 396px;
  }
  .hashtag-block-item-text {
    font-size: 18px;
    line-height: 24px;
  }
}

/* .section {
  width: 1440px;
} */

/* .container {
  padding: 0 32px;
  max-width: 1376px;
} */

/* .hero-container {
  margin-top: 96px;
  margin-bottom: 64px;
} */

/* .hero-text-block {
  display: flex;
} */

/* .hero-right-side {
  width: 640px;
} */
/* .hero-text-block-title {
  font-size: 74px;
  font-style: normal;
  font-weight: 400;
  line-height: 74px;
  letter-spacing: -2%;
  text-align: left;
  width: 640px;
} */

/* .hero-text-block-phrase {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -2%;
  text-align: left;
  width: 528px;
} */

/* .hashtag-block-list {
  display: flex;
  width: 179px;
} */

/* .hashtag-block-item {
  text-align: center;
  padding: 4px 16px;
  border: 1px solid #242424;
  border-radius: 30px;
} */

/* .hero-left-side {
}

/* .hero-img {
  width: 1376px;
  height: 350px;
  background-color: #a1adb9;
  background-image: url("../img/hero-img/hero-main.jpg");
  border-radius: 16px;
  background-position: 0px -153px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 60px;
} */
