.quote-of-the-day {
  display: flex;
  gap: 20px;
  width: 444px;
  height: 100%;
  padding: 20px;
  background: var(--primary-color);
  border-radius: 20px;
  color: var(--white-color);
}
@media screen and (min-width: 768px) {
  .quote-of-the-day {
    padding: 40px;
    gap: 16px;
  }
}

.quote-icon-wrap {
  width: 35px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--rating-color);
  border-radius: 50%;
}

.quote-container {
  display: flex;
  flex-direction: column;
}

.quote-title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.quote-title {
  font-size: 24px;
}
.quote-author {
  font-size: 16px;
}
.quote-content {
  color: var(--text-secondary-color);
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .quote-commas {
    width: 24px;
    height: 24px;
  }
}
