.quote-of-the-day {
  width: 444px;
  height: 242px;
  background: #242424;
  border-radius: 20px;
  color: #f4f4f4;
}

.quote-container {
  padding: 40px;
}

.quote-title {
  font-size: 24px;
}
.quote-author {
  font-size: 16px;
}
.quote-content {
  color: #a1a1a1;
  margin: 10px 0;
}
